body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: rgb(46, 46, 46)
}
header {
  background-color: #ffffff;
  padding: 0px;
  text-align: center;
}
header ul {
  display: flex;
  flex-direction: row;
  float: center;
  justify-content: center;
  align-items: center;
  color: rgb(73, 73, 73);
  font-family: 'Nunito', sans-serif;
}
header li {
  display: inline-block;
  padding: 0px 5px;
  justify-content: space-around;
}


li:hover {
  color: rgb(247, 115, 115);
}


.heroImg {
  background-color: #EBEBEB;
  padding: 100px;
}
.content {
  max-width: 500px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
button {
  padding: 15px;
  align-items: center;
  background-color: #ff8b8b;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}



footer {
  background-color: #d6d6d6;
  padding: 5px;
  color: rgb(78, 78, 78);
  font-family: 'Nunito', sans-serif;
  display:flex;
  align-content: baseline;
  justify-content: center;
  bottom: 0;

}
footer ul {
  list-style: none;
  padding-left: 5px;
  text-align: center;
}
footer li {
  display:inline-block;
  padding: 0px 7px;
}

